# Backend .dockerignore
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.git
.gitignore
README.md
.dockerignore
Dockerfile
docker-compose.yml
.cache
.coverage
.nyc_output
.pytest_cache
.mypy_cache
.venv
venv/
snap/
tests/
*.egg-info
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
